.margin-head-footer {
  margin-left: 1rem !important;
}

.margins-copyright {
  margin-left: 3rem !important;
  margin-top: 3rem !important;
}

.foot-logo {
  margin-left: -4em;
}

.ftr-height {
  height: 250px;
}
