
default: &default
  adapter: postgresql
  encoding: unicode
  # For details on connection pooling, see Rails configuration guide
  # http://guides.rubyonrails.org/configuring.html#database-pooling
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: <%= Rails.application.secrets[:database][:name] %>

test:
  <<: *default
  database: <%= Rails.application.secrets[:database][:name] %>

production:
  <<: *default
  database: <%= Rails.application.secrets[:database][:name] %>
  username: <%= Rails.application.secrets[:database][:username] %>
  password: <%= ENV['HEROS_TEAM_APP_DATABASE_PASSWORD'] %>
