# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 28977adceeb4e33757bfe2454ef60aa45c6e726b233f87bf9912599c1ec24e410f2e0dbdf850ec5395275e8e76def6b9688a9e086b0432a942a93393f9afc19c
  fullcontact_api_key: put_here_your_fullcontact_key
  
test:
  secret_key_base: d1765029626dbb3bed6ede63c79858111af286cba68e15ea3b76751792be6a2666717bb87f46bdb7a820e79543b766f4fa13be3e077bcfb4f98df7816b447fc0
  fullcontact_api_key: put_here_your_fullcontact_key

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
  fullcontact_api_key: <%= ENV["FULLCONTACT_API_KEY"] %>
