.progress
  .progress-bar.progress-bar-striped.progress-bar-animated class="bg-#{page_rating_class(page)}" role="progress-bar-animatedr" style="width:#{page.rating_progress}%"
    = page.rating_progress