.card-view {
  width: 17rem;
}

.card-body  > .header {
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-body  > .header > h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card-link + .card-link {
  margin-left: 2rem;
}

.theme-color {
  color: rgb(0, 156, 159);
}

.image-wrapper {
  height: 210px;
  overflow: hidden;
  position: relative;
}

.image-wrapper img {
  position: absolute;
}