.error-content, .error-code {
  color: #404E67;
}

.error-code {
  font-family: "Montserrat", Georgia, "Times New Roman", Times, serif;
  padding: 1.5rem;
  h2 { font-size: 10rem; }
  h3 { font-size: 1.51rem; }
}

.error-footer {
  padding: 1.5rem;
}
