.land-font {
  font-family: 'Raleway', sans-serif !important;
}
.home-back {
  color: rgb(255, 255, 255);
  height:30vh;
}

.image1 {
  background: linear-gradient(rgba(0, 0, 0, 0.16), rgba(0,0,0,.16)),image-url('landing_back1.jpeg') no-repeat fixed center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100vh;
}

.image2 {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),image-url('landing_back2.jpeg') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.landing-cont-back1 {
  margin: 0;
  background: rgba(42, 25, 211, 0.16);
  text-align: center;
}

.landing-cont-back2 {
  margin: 0;
  background: rgba(93, 255, 245, 0.13);
  text-align: center;
}

.landing-cont-back3 {
  background: rgba(255, 255, 255, 0.45);
  text-align: center;
  font-size: 30px;
}

.space-between {
  -webkit-box-pack: justify !important;
  justify-content: space-between !important;
}

.landing-part1 {
  padding-top: 30% !important;
  padding-bottom: 70% !important;
}

.landing-part2 {
  margin-top: 20% !important;
}

.text-upper-case {
  text-transform: uppercase;
}

.margin-head-footer {
  margin-left: 1rem !important;
}

.margins-copyright {
  margin-left: 3rem !important;
  margin-top: 3rem !important;
}

.foot-logo {
  margin-left: -4em;
}

.ftr-height {
  height: 250px;
}