//header logo
#logo {
  height: 90px;
  width: 140px;
  margin-top: -20px;
  //margin-bottom: -10px;
  margin-left: 7em;
  object-fit: fill;
}

//logo for companies
.company-logo {
  max-height: 100%;
  max-width: 100%;
  opacity: 1;
}