.image-modal-content {
  max-width: 1200px;
}

.modal-image {
  max-height: 100%;
  max-width: 100%;
}

.show-pointer {
  cursor: pointer;
}

.page-logo {
  max-width: 100%;
}

.page-logo-container-index {
  height: 50px;
  width: 50px;
  overflow: hidden;
  float: left;
  margin-right: 10px;
}

.page-logo-container {
  height: 100px;
  overflow: hidden;
}

// Index table

.t-title {
  width: 60%;
}
.t-type {
  width: 15%;
}
.t-status {
  width: 15%;
}
.t-rate {
  width: 400px;
  height: 30px;
}
.table.pages-list th, .table.pages-list td{
  padding: 0.75rem 1rem;
}
.rating {
  width: 100px;
}
.rate {
  height: 30px;
}

// Spinner

#loading {
  margin-left: auto; 
  margin-right: auto;
  display: block;
  width: 30px;
  height: 30px;
  border-color: #10C888;
  border: 3px solid rgba(16,200,136,.3);
  border-radius: 50%;
  border-top-color: #FF6D80;
  animation: spin 0.5s linear infinite;
  -webkit-animation: spin 0.5s linear infinite;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}